.wrap {
    background-color: aqua;
    color: brown;
    font-size: 30px;
    line-height: 1.5;
    width: 200px;
    height: 200px;
    margin: 50px;
}

.text-span {
    padding: 15px 30px;
    border: 1px solid black;
    color: aliceblue;
    background-color: brown;
}

.btn {
    padding: 15px 30px;
    border: 1px solid black;
    color: brown;
    background-color: aliceblue;
}
.js-opacity{
    opacity: 0;
}
input.text-span {
    padding: 15px 30px;
    border: 1px solid black;
    color: black;
    background-color: white;
}